<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd
	    http://www.springframework.org/schema/mvc
	    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	    http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- 注解驱动 -->
	<mvc:annotation-driven/>

	<!-- 开启aop，对类代理 -->
	<aop:config proxy-target-class="true"></aop:config>

	<!-- 使用spring组件扫描 -->
	<context:component-scan base-package="com.dkt.controller" />
	
	<!-- 配置内部资源视图解析器，要求将jstl的包加到classpath -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<mvc:default-servlet-handler/>
	<!-- 资源映射 -->
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**"/>
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>
	<mvc:resources location="/WEB-INF/images/" mapping="/images/**"/>
	<mvc:resources location="/WEB-INF/fonts/" mapping="/fonts/**"/>

	<!--配置拦截器, 多个拦截器,则顺序执行 -->  
	 <mvc:interceptors>
	    <mvc:interceptor>
	        <!--匹配的是url路径， 如果不配置或/**,将拦截所有的Controller-->
	        <mvc:mapping path="/admin/**" />
	        <mvc:mapping path="/employee/**" />
	        <mvc:mapping path="/customer/**" />
			<mvc:exclude-mapping path="/admin/login*"/>
			<mvc:exclude-mapping path="/employee/login*"/>
			<mvc:exclude-mapping path="/customer/login*"/>
			<bean class="com.dkt.utils.LoginInterceptor"/>
	    </mvc:interceptor>
	</mvc:interceptors>

</beans>